<div class="forgot-wrapper">
  <div class="forgot-box dark-theme">
    @if (isLoading) {
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    }

    <img src="assets/images/logo-bsru.png" alt="logo" />
    <h1>ลืมรหัสผ่าน ?</h1>

    <div style="margin-inline: -24px">
      <mat-stepper labelPosition="bottom" linear="true" #stepper>
        <mat-step [stepControl]="formEmail">
          <form [formGroup]="formEmail" (ngSubmit)="onSubmitEmail()">
            <ng-template matStepLabel>E-mail</ng-template>

            <mat-form-field>
              <mat-label>E-mail</mat-label>
              <input matInput type="email" formControlName="email" />
              <mat-icon matSuffix fontIcon="email"></mat-icon>

              <mat-error>
                <app-error-field
                  [control]="email"
                  [errorMessage]="validationField.email"
                ></app-error-field>
              </mat-error>
            </mat-form-field>
            <div>
              <button type="submit" mat-button [disabled]="isLoading">
                ถัดไป
              </button>
            </div>
          </form>
        </mat-step>

        <mat-step
          [stepControl]="formVerified"
          [editable]="true"
          [optional]="false"
        >
          <form [formGroup]="formVerified">
            <ng-template matStepLabel>รหัสยืนยัน</ng-template>

            <mat-form-field>
              <mat-label>รหัสยืนยัน</mat-label>
              <input matInput type="text" formControlName="passwordResetCode" />

              @if(passwordResetCode.value.length != 0 &&
              passwordResetCode.value.length != 8 && passwordResetCode.touched)
              {
              <mat-error>{{
                validationField.passwordResetCode.length
              }}</mat-error>
              } @else {
              <mat-error>
                <app-error-field
                  [control]="passwordResetCode"
                  [errorMessage]="validationField.passwordResetCode"
                ></app-error-field>
              </mat-error>
              }
            </mat-form-field>

            <div>
              <button mat-button matStepperPrevious>ก่อนหน้า</button>
              <button mat-button matStepperNext>ถัดไป</button>
            </div>
          </form>
        </mat-step>

        <mat-step [editable]="false" [optional]="false">
          <form
            [formGroup]="formResetPassword"
            (ngSubmit)="onSubmitResetPassword()"
          >
            <ng-template matStepLabel>เปลี่ยนรหัสผ่าน</ng-template>

            <mat-form-field>
              <mat-label>รหัสผ่านใหม่</mat-label>
              <input
                [type]="hideNewPassword ? 'password' : 'text'"
                matInput
                formControlName="newPassword"
                autocomplete="off"
              />
              <mat-icon
                matSuffix
                (click)="hideNewPassword = !hideNewPassword"
                >{{
                  hideNewPassword ? "visibility_off" : "visibility"
                }}</mat-icon
              >

              <mat-error>
                <app-error-field
                  [control]="newPassword"
                  [errorMessage]="validationField.newPassword"
                ></app-error-field>
              </mat-error>
            </mat-form-field>

            <mat-form-field>
              <mat-label>ยินยันรหัสผ่านใหม่</mat-label>
              <input
                [type]="hideConfirmPassword ? 'password' : 'text'"
                matInput
                formControlName="confirmPassword"
                autocomplete="off"
              />
              <mat-icon
                matSuffix
                (click)="hideConfirmPassword = !hideConfirmPassword"
                >{{
                  hideConfirmPassword ? "visibility_off" : "visibility"
                }}</mat-icon
              >

              <mat-error>
                <app-error-field
                  [control]="confirmPassword"
                  [errorMessage]="validationField.confirmPassword"
                ></app-error-field>
              </mat-error>
            </mat-form-field>
            <div>
              <button mat-button matStepperPrevious>ก่อนหน้า</button>
              <button type="submit" mat-button>ตกลง</button>
            </div>
          </form>
        </mat-step>
      </mat-stepper>
    </div>

    <div class="login">
      <a routerLink="/login">เข้าสู่ระบบ</a>
    </div>
  </div>
</div>
