@defer (when profile) {
<mat-card>
  <mat-card-header class="justify-between">
    <mat-card-title>{{ title }}</mat-card-title>
    <button
      type="button"
      mat-button
      color="warn"
      (click)="onReset()"
      [disabled]="isLoading"
    >
      รีเซ็ต
    </button>
  </mat-card-header>

  <form class="form-container" [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-card-content class="box">
      <mat-form-field>
        <mat-label>E-mail</mat-label>
        <input type="email" matInput formControlName="email" />

        <mat-error>
          <app-error-field
            [control]="email"
            [errorMessage]="validationField.email"
          ></app-error-field>
        </mat-error>
      </mat-form-field>

      <div class="row">
        <mat-form-field>
          <mat-label>ชื่อ</mat-label>
          <input type="text" matInput formControlName="firstname" />

          <mat-error>
            <app-error-field
              [control]="firstname"
              [errorMessage]="validationField.firstname"
            ></app-error-field>
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>นามสกุล</mat-label>
          <input type="text" matInput formControlName="lastname" />

          <mat-error>
            <app-error-field
              [control]="lastname"
              [errorMessage]="validationField.lastname"
            ></app-error-field>
          </mat-error>
        </mat-form-field>
      </div>

      <mat-form-field>
        <mat-label>สิทธิ</mat-label>
        <input type="text" matInput formControlName="role" />

        <mat-error>
          <app-error-field
            [control]="role"
            [errorMessage]="validationField.role"
          ></app-error-field>
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>หมายเหตุ</mat-label>
        <input type="text" matInput formControlName="remark" />
      </mat-form-field>
    </mat-card-content>

    <mat-card-actions class="gap-10">
      <button
        type="submit"
        mat-raised-button
        color="primary"
        [disabled]="isLoading"
      >
        ตกลง
      </button>
    </mat-card-actions>
    <mat-card-footer>
      @if (isLoading) {
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      }
    </mat-card-footer>
  </form>
</mat-card>
} @placeholder (minimum 500ms) {
<app-loading-data [form]="'card'"></app-loading-data>
}
