@defer (when profile) {
<mat-card class="form-container">
  <mat-card-header>
    <mat-card-title>แก้ไขโปรไฟล์</mat-card-title>
  </mat-card-header>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-card-content class="box">
      <mat-form-field>
        <mat-label>E-mail</mat-label>
        <input type="email" matInput formControlName="email" />

        <mat-error>
          <app-error-field
            [control]="email"
            [errorMessage]="validationField.email"
          ></app-error-field>
        </mat-error>
      </mat-form-field>

      <div class="row">
        <mat-form-field>
          <mat-label class="label-in">First Name</mat-label>
          <input type="text" matInput formControlName="firstname" />

          <mat-error>
            <app-error-field
              [control]="firstname"
              [errorMessage]="validationField.firstname"
            ></app-error-field>
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Last Name</mat-label>
          <input type="text" matInput formControlName="lastname" />

          <mat-error>
            <app-error-field
              [control]="lastname"
              [errorMessage]="validationField.lastname"
            ></app-error-field>
          </mat-error>
        </mat-form-field>
      </div>

      <mat-form-field>
        <mat-label>Role</mat-label>
        <input type="text" matInput formControlName="role" />

        <mat-error>
          <app-error-field
            [control]="role"
            [errorMessage]="validationField.role"
          ></app-error-field>
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Remark</mat-label>
        <input type="text" matInput formControlName="remark" />
      </mat-form-field>
    </mat-card-content>

    <mat-divider></mat-divider>
    <mat-card-actions style="gap: 10px">
      <button type="submit" mat-raised-button color="primary">Submit</button>
      <button type="button" mat-button color="warn" (click)="onReset()">
        Reset
      </button>
    </mat-card-actions>
    <mat-card-footer>
      @if (isLoading) {
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      }
    </mat-card-footer>
  </form>
</mat-card>
} @placeholder (minimum 500ms) {
<app-loading-data [form]="'card'"></app-loading-data>
}
