.mat-column-no {
  flex: 0 0 70px;
}

.mat-column-email {
  min-width: 150px;
}

.mat-column-name {
  min-width: 150px;
}

.mat-column-role {
  flex: 0 0 70px;
}

.mat-column-active {
  flex: 0 0 70px;
}

.mat-column-action {
  flex: 0 0 60px;
}

.mat-column-remark {
  min-width: 150px;
}
