<button mat-fab color="primary" class="mb-20" (click)="onCreate()">
  <mat-icon>add</mat-icon>
</button>

@defer (when dataSource.data) {
<mat-card class="w-100 mat-elevation-z8">
  <mat-card-header class="mb-16">
    <mat-card-title>รายการประเภทพัสดุ</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <mat-form-field class="w-100">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" />
    </mat-form-field>

    <mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="no">
        <mat-header-cell *matHeaderCellDef mat-sort-header>No.</mat-header-cell>
        <mat-cell *matCellDef="let i = index"> {{ i + 1 }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >ชื่อ</mat-header-cell
        >
        <mat-cell *matCellDef="let element"> {{ element.name }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="active">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >สถานะ</mat-header-cell
        >
        <mat-cell *matCellDef="let element">
          @if (element.active) {
          <mat-icon class="toggle-on">toggle_on</mat-icon>
          } @else {
          <mat-icon class="toggle-off">toggle_off</mat-icon>
          }
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="remark">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >หมายเหตุ</mat-header-cell
        >
        <mat-cell *matCellDef="let element"> {{ element.remark }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-icon-button (click)="onUpdate(element)">
            <mat-icon color="primary">edit</mat-icon>
          </button>
          <button
            mat-icon-button
            color="warn"
            [swal]="deleteSwal"
            (confirm)="onDelete(element.id)"
          >
            <mat-icon>delete</mat-icon>
          </button>

          <swal
            #deleteSwal
            title="Delete {{ element.name }}?"
            icon="error"
            [showCancelButton]="true"
          ></swal>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>

    <mat-paginator
      [pageSizeOptions]="[10, 25, 50, 100]"
      (page)="setPageIndex($event)"
      showFirstLastButtons
    ></mat-paginator>
  </mat-card-content>
</mat-card>
} @placeholder (minimum 300ms) {
<app-loading-data [form]="'card'"></app-loading-data>
}
