<div class="d-flex justify-between gap-10 mb-20">
  <div class="d-flex gap-10">
    <mat-radio-group [(ngModel)]="print">
      <mat-radio-button value="1" checked>คิวอาร์โค้ด</mat-radio-button>
      <mat-radio-button value="2">บาร์โค้ด</mat-radio-button>
    </mat-radio-group>

    <a [routerLink]="['./process', print]" mat-raised-button color="primary">
      พิมพ์
    </a>
  </div>

  <a
    [routerLink]="['/inventory']"
    [queryParams]="{ isPrint: true }"
    mat-raised-button
    color="accent"
    >เพิ่มรายการพิมพ์ครุภัณฑ์</a
  >
</div>
<mat-card>
  <mat-card-header class="mb-16 d-flex justify-between align-center">
    <mat-card-title>{{ title }}</mat-card-title>
    <button type="button" mat-button color="warn" (click)="onReset()">
      รีเซ็ต
    </button>
  </mat-card-header>

  <mat-card-content>
    <mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="image">
        <mat-header-cell *matHeaderCellDef mat-sort-header>รูป</mat-header-cell>
        <mat-cell *matCellDef="let element" style="padding-block: 8px">
          <a
            [routerLink]="['../inventory/view', element.id]"
            class="blurred-img"
            tabindex="-1"
          >
            <img
              [defaultImage]="'assets/images/no-image.jpg'"
              [lazyLoad]="imageUrl + element.image"
            />
          </a>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="code">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >รหัสครุภัณฑ์</mat-header-cell
        >
        <mat-cell *matCellDef="let element"> {{ element.code }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >รายการครุภัณฑ์</mat-header-cell
        >
        <mat-cell *matCellDef="let element">
          {{ element.description | cutDetail }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="printCount">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >จำนวนพิมพ์</mat-header-cell
        >
        <mat-cell *matCellDef="let element" class="p-0">
          <div class="d-flex align-center">
            <button
              mat-icon-button
              (click)="incrementPrintCount(element.id)"
              tabindex="-1"
            >
              <mat-icon color="accent">add</mat-icon>
            </button>

            <mat-form-field class="printCount-field">
              <input
                type="number"
                matInput
                [value]="element.printCount"
                (blur)="onBlurPrintCount($event, element.id)"
              />
            </mat-form-field>

            <button
              mat-icon-button
              (click)="decrementPrintCount(element.id)"
              tabindex="-1"
            >
              <mat-icon color="accent">remove</mat-icon>
            </button>
          </div>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let element" class="p-0">
          <button
            mat-icon-button
            (click)="onDeleteInventory(element.id)"
            tabindex="-1"
          >
            <mat-icon color="warn">close</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
  </mat-card-content>

  <mat-paginator
    [pageSize]="50"
    [pageSizeOptions]="[10, 25, 50, 100]"
    showFirstLastButtons
  ></mat-paginator>
</mat-card>
