img {
  width: 100px;
  height: 100px;
}

.mat-column-no {
  flex: 0 0 70px;
}

.mat-column-image {
  flex: 0 0 120px;
}

.mat-column-track {
  flex: 0 0 140px;
}

.mat-column-category {
  flex: 0 0 100px;
}

.mat-column-status {
  flex: 0 0 100px;
}

.mat-column-modifyQuantity {
  flex: 0 0 120px;
}

.mat-column-printCount {
  flex: 0 0 80px;
}

.mat-column-detailLog {
  flex: 0 0 120px;
}

.mat-column-createdAt {
  min-width: 150px;
}

.filter-box {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .left {
    display: flex;
    gap: 10px;
  }

  .additional-selection {
    opacity: 0.75;
    font-size: 0.75em;
  }
}

@media (max-width: 968px) {
  .filter-box {
    flex-wrap: wrap;

    .left {
      width: 100%;
    }

    mat-form-field {
      width: 100%;
    }
  }
}

.newParcel {
  color: #a438b6;
}

.editParcel {
  color: #a438b6;
}

.increaseQuantity {
  color: #46a14a;
}

.decreaseQuantity {
  color: #f55246;
}

.print {
  color: #f5b907;
}
