<mat-card class="mb-20 mat-elevation-z8">
  <mat-tab-group
    mat-stretch-tabs="false"
    [selectedIndex]="selectedTap.value"
    (selectedIndexChange)="selectedTap.setValue($event)"
  >
    <mat-tab label="วันที่">
      <mat-card-content>
        <mat-form-field class="w-100">
          <mat-label>จาก - ถึง</mat-label>
          <mat-date-range-input [rangePicker]="picker" [formGroup]="dateRange">
            <input
              matStartDate
              formControlName="start"
              (click)="picker.open()"
              readonly
            />
            <input
              matEndDate
              formControlName="end"
              (click)="picker.open()"
              readonly
            />
          </mat-date-range-input>
          <mat-hint align="end">วัน/เดือน/พ.ศ.</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
      </mat-card-content>
    </mat-tab>

    <mat-tab label="รหัสครุภัณฑ์">
      <mat-card-content>
        <form (ngSubmit)="onSearch()">
          <mat-form-field class="w-100">
            <mat-label>รหัสครุภัณฑ์</mat-label>
            <input
              type="text"
              matInput
              [formControl]="search"
              [matAutocomplete]="auto"
              (input)="onSearchAutoComplete(search.value)"
              appAutoCode
            />

            <mat-autocomplete #auto="matAutocomplete">
              @for (code of filteredOptions | async ; track code) {
              <mat-option [value]="code">
                <span [innerHTML]="code | highlight : search.value"></span>
              </mat-option>
              }
            </mat-autocomplete>

            <button
              type="button"
              *ngIf="search.value"
              matSuffix
              mat-icon-button
              color="primary"
              (click)="search.setValue('')"
            >
              <mat-icon>close</mat-icon>
            </button>

            <button type="submit" matSuffix mat-icon-button>
              <mat-icon matSuffix fontIcon="search"></mat-icon>
            </button>
          </mat-form-field>
        </form>
      </mat-card-content>
    </mat-tab>
  </mat-tab-group>

  <mat-card-actions class="justify-between">
    <button
      type="button"
      mat-raised-button
      color="primary"
      (click)="onSearch()"
      [disabled]="isLoading"
    >
      <mat-icon>search</mat-icon>
      ค้นหา
    </button>
    <button
      type="button"
      mat-raised-button
      color="accent"
      (click)="onSearchAll()"
      [disabled]="isLoading"
    >
      ค้นหาทั้งหมด
    </button>
  </mat-card-actions>
  <mat-card-footer>
    @if (isLoading) {
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    }
  </mat-card-footer>
</mat-card>

@defer (when dataSource.data.length > 0 || isFirstLoading) {
<mat-card class="mat-elevation-z8">
  <mat-card-header class="mb-16 d-flex justify-between align-center">
    <mat-card-title>{{ title }}</mat-card-title>
    <button type="button" mat-button color="warn" (click)="onResetFilter()">
      รีเซ็ต
    </button>
  </mat-card-header>

  <mat-card-content>
    <form class="filter-box" [formGroup]="form">
      <mat-form-field>
        <mat-label>ประเภท</mat-label>
        <mat-select formControlName="category" multiple>
          <mat-select-trigger>
            {{category.value?.[0] || ''}}
            @if ((category.value?.length || 0) > 1) {
            <span class="additional-selection">
              (+{{ (category.value?.length || 0) - 1 }}
              อื่น ๆ )
            </span>
            }
          </mat-select-trigger>
          @for (category of filterLog.categories; track category) {
          <mat-option [value]="category" (click)="onFilter()">{{
            category
          }}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>สถานะ</mat-label>
        <mat-select formControlName="status" multiple>
          <mat-select-trigger>
            {{status.value?.[0] || ''}}
            @if ((status.value?.length || 0) > 1) {
            <span class="additional-selection">
              (+{{ (status.value?.length || 0) - 1 }}
              อื่น ๆ )
            </span>
            }
          </mat-select-trigger>
          @for (status of filterLog.statuses; track status) {
          <mat-option [value]="status" (click)="onFilter()">{{
            status
          }}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>รายละเอียด</mat-label>
        <mat-select formControlName="inventory" multiple>
          <mat-select-trigger>
            {{inventory.value?.[0] || ''}}
            @if ((inventory.value?.length || 0) > 1) {
            <span class="additional-selection">
              (+{{ (inventory.value?.length || 0) - 1 }}
              อื่น ๆ )
            </span>
            }
          </mat-select-trigger>
          @for (inventory of filterLog.inventories; track inventory) {
          <mat-option [value]="inventory" (click)="onFilter()">{{
            inventory
          }}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>กรองข้อมูล</mat-label>
        <input matInput (keyup)="applyFilter($event)" #filterInput />
      </mat-form-field>
    </form>

    @if(!isLoading) {
    <mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="no">
        <mat-header-cell *matHeaderCellDef mat-sort-header>No.</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.no }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="image">
        <mat-header-cell *matHeaderCellDef mat-sort-header>รูป</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <a [routerLink]="['./view', element.id]" class="blurred-img">
            <img
              [defaultImage]="'assets/images/no-image.jpg'"
              [lazyLoad]="imageUrl + element.image"
            />
          </a>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="code">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >รหัสครุภัณฑ์</mat-header-cell
        >
        <mat-cell *matCellDef="let element"> {{ element.code }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="category">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >ประเภท</mat-header-cell
        >
        <mat-cell *matCellDef="let element">
          {{ element.categoryName }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >สถานะ</mat-header-cell
        >
        <mat-cell *matCellDef="let element">
          {{ element.statusName }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >รายการครุภัณฑ์</mat-header-cell
        >
        <mat-cell *matCellDef="let element">
          {{ element.description | cutDetail }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="isCreated">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >รายละเอียด</mat-header-cell
        >
        <mat-cell *matCellDef="let element">
          <span
            class="detail-log"
            [ngClass]="{
              newParcel: element.isCreated,
              editParcel: !element.isCreated,
            }"
          >
            @if (element.isCreated) { เพิ่มครุภัณฑ์ } @else { แก้ไขครุภัณฑ์ }
          </span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="createdAt">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >วันที่เพิ่มประวัติ</mat-header-cell
        >
        <mat-cell *matCellDef="let element">
          {{ element.createdAt | thaiDate }}
        </mat-cell>
      </ng-container>

      <div *matCellDef="let element">
        {{ element.track }}
      </div>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
    } @else {
    <app-loading-data [form]="'list'"></app-loading-data>
    }

    <mat-paginator
      [pageSizeOptions]="[10, 25, 50, 100]"
      showFirstLastButtons
    ></mat-paginator>
  </mat-card-content>
</mat-card>
} @placeholder (minimum 300ms) {
<app-loading-data [form]="'list'"></app-loading-data>
}
