@defer (when !isLoading) { @if (!isDataLoadFailed) {
<mat-card>
  <mat-card-header>
    <mat-card-title>{{ title }}</mat-card-title>
  </mat-card-header>

  <form
    class="form-container"
    [formGroup]="formParcel"
    (ngSubmit)="onSubmit()"
    #formDirec="ngForm"
  >
    <mat-card-content class="box">
      <ngx-dropzone
        [accept]="'image/jpeg,image/jpg,image/png'"
        [multiple]="false"
        (change)="onSelectImage($event)"
        class="dropzone"
      >
        <ngx-dropzone-label>เพิ่มรูป (jpg, jpeg, png)</ngx-dropzone-label>
        <ngx-dropzone-image-preview
          ngProjectAs="ngx-dropzone-preview"
          *ngFor="let f of files"
          [file]="f"
          [removable]="true"
          (removed)="onRemoveImage(f)"
        >
        </ngx-dropzone-image-preview>
      </ngx-dropzone>

      <mat-error>
        <app-error-field
          [control]="image"
          [errorMessage]="validationField.image"
        ></app-error-field>
      </mat-error>

      <div class="row">
        <mat-form-field>
          <mat-label>รหัส</mat-label>
          <input type="text" matInput formControlName="code" #codeEl />

          <mat-error>
            <app-error-field
              [control]="code"
              [errorMessage]="validationField.code"
            ></app-error-field>
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>รหัสเดิม</mat-label>
          <input type="text" matInput formControlName="oldCode" />
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field>
          <mat-label>วันที่รับพัสดุ</mat-label>
          <input
            matInput
            mask="d0/M0/0000"
            (focusout)="onDateInput()"
            formControlName="dateInput"
            #dateEl
          />
          <input
            class="hidden-input"
            matInput
            [matDatepicker]="picker"
            (dateInput)="onDatePicker($event)"
            formControlName="receivedDate"
          />
          <mat-hint align="end">วัน/เดือน/พ.ศ. (5/9/2560)</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
            [disabled]="formParcel.disabled"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
          <mat-label>จำนวน</mat-label>
          <input matInput type="number" mask="0*" formControlName="quantity" />

          <mat-error>
            <app-error-field
              [control]="quantity"
              [errorMessage]="validationField.quantity"
            ></app-error-field>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="d-flex flex-column">
        <mat-card-title>ประเภท</mat-card-title>

        <mat-chip-listbox formControlName="category">
          @for (category of categories; track category) {
          <mat-chip-option
            [value]="category.id"
            (selectionChange)="onSelectChip('category')"
            >{{ category.name }}</mat-chip-option
          >
          }
        </mat-chip-listbox>

        <mat-error>
          <app-error-field
            [control]="category"
            [errorMessage]="validationField.category"
          ></app-error-field>
        </mat-error>
      </div>

      <div class="d-flex flex-column">
        <mat-card-title>สถานะ</mat-card-title>

        <mat-chip-listbox formControlName="status">
          @for (status of statuses; track status) {
          <mat-chip-option
            [value]="status.id"
            (selectionChange)="onSelectChip('status')"
          >
            {{ status.name }}
          </mat-chip-option>
          }
        </mat-chip-listbox>

        <mat-error>
          <app-error-field
            [control]="status"
            [errorMessage]="validationField.status"
          ></app-error-field>
        </mat-error>
      </div>

      <mat-form-field>
        <mat-label>รายละเอียด</mat-label>
        <input type="text" matInput formControlName="detail" />

        <mat-error>
          <app-error-field
            [control]="detail"
            [errorMessage]="validationField.detail"
          ></app-error-field>
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>หมายเหตุ</mat-label>
        <input type="text" matInput formControlName="remark" />
      </mat-form-field>
    </mat-card-content>

    <mat-card-actions class="gap-10">
      <button
        type="submit"
        mat-raised-button
        color="primary"
        [disabled]="isLoading"
      >
        Submit
      </button>
      <button
        type="button"
        mat-button
        color="warn"
        (click)="onReset()"
        [disabled]="isLoading"
      >
        Reset
      </button>
    </mat-card-actions>
  </form>

  <mat-card-footer>
    @if (isLoading) {
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    }
  </mat-card-footer>
</mat-card>
} @else {
<button mat-flat-button color="warn" class="w-100">
  ไม่พบข้อมูลประเภทหรือสถานะของพัสดุ กรุณาติดต่อ Admin ให้เพิ่มข้อมูล
</button>
} } @placeholder (minimum 300ms) {
<app-loading-data [form]="'card'"></app-loading-data>
}
