<button mat-fab color="primary" class="mb-20" (click)="onCreate()">
  <mat-icon>add</mat-icon>
</button>

<mat-card class="mb-20 w-100 mat-elevation-z8">
  <mat-tab-group
    mat-stretch-tabs="false"
    [selectedIndex]="selectedTap.value"
    (selectedIndexChange)="selectedTap.setValue($event)"
  >
    <mat-tab label="วันที่">
      <mat-card-content>
        <mat-form-field>
          <mat-label>จาก - ถึง</mat-label>
          <mat-date-range-input [rangePicker]="picker" [formGroup]="dateRange">
            <input
              matStartDate
              formControlName="start"
              (click)="picker.open()"
              readonly
            />
            <input
              matEndDate
              formControlName="end"
              (click)="picker.open()"
              readonly
            />
          </mat-date-range-input>
          <mat-hint align="end"> วัน/เดือน/พ.ศ. – วัน/เดือน/พ.ศ.</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
      </mat-card-content>
    </mat-tab>

    <mat-tab label="Track">
      <mat-card-content>
        <mat-form-field>
          <mat-label>Track</mat-label>
          <input matInput #track />
          <button matSuffix mat-icon-button (click)="onSearch()">
            <mat-icon matSuffix fontIcon="search"></mat-icon>
          </button>
        </mat-form-field>
      </mat-card-content>
    </mat-tab>
  </mat-tab-group>

  <mat-card-actions style="justify-content: space-between">
    <button
      type="button"
      mat-raised-button
      extended
      (click)="onSearch()"
      [disabled]="isLoading"
    >
      <mat-icon>search</mat-icon>
      ค้นหา
    </button>
    <button
      type="button"
      mat-raised-button
      color="primary"
      (click)="onSearchAll()"
      [disabled]="isLoading"
    >
      ค้นหาทั้งหมด
    </button>
  </mat-card-actions>
  <mat-card-footer>
    @if (isLoading) {
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    }
  </mat-card-footer>
</mat-card>

@defer (when dataSource.data.length > 0 || isData) {
<mat-card class="w-100 mat-elevation-z8">
  <mat-card-header class="mb-16 d-flex justify-between align-center">
    <mat-card-title>รายการประเภทพัสดุ</mat-card-title>
    <button type="button" mat-button color="warn" (click)="onResetFilter()">
      Reset
    </button>
  </mat-card-header>

  <mat-card-content>
    <div class="filter-box">
      <div class="left" [formGroup]="filters">
        <mat-form-field>
          <mat-label>ประเภท</mat-label>
          <mat-select formControlName="category" multiple>
            <mat-select-trigger>
              {{category.value?.[0] || ''}}
              @if ((category.value?.length || 0) > 1) {
              <span class="additional-selection">
                (+{{ (category.value?.length || 0) - 1 }}
                อื่น ๆ )
              </span>
              }
            </mat-select-trigger>
            @for (category of filterList.categories; track category) {
            <mat-option [value]="category" (click)="onFilter()">{{
              category
            }}</mat-option>
            }
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>สถานะ</mat-label>
          <mat-select formControlName="status" multiple>
            <mat-select-trigger>
              {{status.value?.[0] || ''}}
              @if ((status.value?.length || 0) > 1) {
              <span class="additional-selection">
                (+{{ (status.value?.length || 0) - 1 }}
                อื่น ๆ )
              </span>
              }
            </mat-select-trigger>
            @for (status of filterList.statuses; track status) {
            <mat-option [value]="status" (click)="onFilter()">{{
              status
            }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>

      <mat-form-field>
        <mat-label>กรองข้อมูล</mat-label>
        <input matInput (keyup)="applyFilter($event)" #filterInput />
      </mat-form-field>
    </div>

    @if(!isLoading) {

    <mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="no">
        <mat-header-cell *matHeaderCellDef mat-sort-header>No.</mat-header-cell>
        <mat-cell *matCellDef="let i = index"> {{ i + pageIndex }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="image">
        <mat-header-cell *matHeaderCellDef mat-sort-header>รูป</mat-header-cell>
        <mat-cell *matCellDef="let element" style="padding-block: 8px">
          <a [routerLink]="['./edit', element.id]" class="blurred-img">
            <img
              [defaultImage]="'assets/images/no-image.jpg'"
              [lazyLoad]="imageUrl + element.image"
            />
          </a>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="track">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Track</mat-header-cell
        >
        <mat-cell *matCellDef="let element"> {{ element.track }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="receivedDate">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >วันที่รับพัสดุ</mat-header-cell
        >
        <mat-cell *matCellDef="let element">
          {{ element.receivedDate | date : "dd/MM/YYYY" }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="category">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >ประเภท</mat-header-cell
        >
        <mat-cell *matCellDef="let element">
          {{ element.category }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >สถานะ</mat-header-cell
        >
        <mat-cell *matCellDef="let element">
          {{ element.status }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="detail">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >รายละเอียด</mat-header-cell
        >
        <mat-cell *matCellDef="let element"> {{ element.detail }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="quantity">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >จำนวน</mat-header-cell
        >
        <mat-cell *matCellDef="let element"> {{ element.quantity }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let element">
          <a [routerLink]="['./edit', element.id]" mat-icon-button>
            <mat-icon color="primary">search</mat-icon>
          </a>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
    } @else {
    <app-loading-data [form]="'list'"></app-loading-data>
    }

    <mat-paginator
      [pageSizeOptions]="[10, 25, 50, 100]"
      (page)="setPageIndex($event)"
      showFirstLastButtons
    ></mat-paginator>
  </mat-card-content>
</mat-card>
} @placeholder (minimum 300ms) {
<app-loading-data [form]="'list'"></app-loading-data>
}
