<mat-card class="mb-20 mat-elevation-z8">
  <mat-card-content>
    <form (ngSubmit)="onSearch()">
      <mat-form-field class="w-100">
        <mat-label>เลือกปี</mat-label>
        <input
          type="text"
          matInput
          [formControl]="selectYear"
          [matAutocomplete]="auto"
        />
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          @for (year of filteredOptions | async ; track year) {
          <mat-option [value]="year">{{ year }}</mat-option>
          }
        </mat-autocomplete>

        <button
          type="button"
          *ngIf="selectYear.value"
          matSuffix
          mat-icon-button
          color="primary"
          (click)="selectYear.setValue('')"
        >
          <mat-icon>close</mat-icon>
        </button>
        <button type="submit" matSuffix mat-icon-button>
          <mat-icon matSuffix fontIcon="search"></mat-icon>
        </button>
      </mat-form-field>
    </form>
  </mat-card-content>

  <mat-card-actions>
    <button
      type="button"
      mat-raised-button
      color="primary"
      (click)="onSearch()"
      [disabled]="isLoading"
    >
      <mat-icon>search</mat-icon>
      ค้นหา
    </button>
  </mat-card-actions>

  <mat-card-footer>
    @if (isLoading) {
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    }
  </mat-card-footer>
</mat-card>

<mat-card class="mat-elevation-z8">
  <mat-card-header class="mb-16 d-flex justify-between align-center">
    <mat-card-title>{{ title }}</mat-card-title>
    <button type="button" mat-button color="warn" (click)="onResetFilter()">
      รีเซ็ต
    </button>
  </mat-card-header>

  <mat-card-content>
    <form class="filter-box" [formGroup]="form">
      <mat-form-field>
        <mat-label>ประเภท</mat-label>
        <mat-select formControlName="category" multiple>
          <mat-select-trigger>
            {{category.value?.[0] || ''}}
            @if ((category.value?.length || 0) > 1) {
            <span class="additional-selection">
              (+{{ (category.value?.length || 0) - 1 }}
              อื่น ๆ )
            </span>
            }
          </mat-select-trigger>
          @for (category of filter.categories; track category) {
          <mat-option [value]="category" (click)="onFilter()">{{
            category
          }}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>สถานะ</mat-label>
        <mat-select formControlName="status" multiple>
          <mat-select-trigger>
            {{status.value?.[0] || ''}}
            @if ((status.value?.length || 0) > 1) {
            <span class="additional-selection">
              (+{{ (status.value?.length || 0) - 1 }}
              อื่น ๆ )
            </span>
            }
          </mat-select-trigger>
          @for (status of filter.statuses; track status) {
          <mat-option [value]="status" (click)="onFilter()">{{
            status
          }}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>กรองข้อมูล</mat-label>
        <input matInput (keyup)="applyFilter($event)" #filterInput />
      </mat-form-field>
    </form>

    @if(!isLoading) {
    <mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="no">
        <mat-header-cell *matHeaderCellDef mat-sort-header>No.</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.no }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="image">
        <mat-header-cell *matHeaderCellDef mat-sort-header>รูป</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <a
            [routerLink]="['/inventory/view', element.inventoryId]"
            class="blurred-img"
          >
            <img
              [defaultImage]="'assets/images/no-image.jpg'"
              [lazyLoad]="imageUrl + element.image"
            />
          </a>
        </mat-cell>
        รหัสครุภัณฑ์
      </ng-container>

      <ng-container matColumnDef="code">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >รหัสครุภัณฑ์</mat-header-cell
        >
        <mat-cell *matCellDef="let element"> {{ element.code }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="year">
        <mat-header-cell *matHeaderCellDef mat-sort-header>ปี</mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.year }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="category">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >ประเภท</mat-header-cell
        >
        <mat-cell *matCellDef="let element">
          {{ element.category }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >สถานะ</mat-header-cell
        >
        <mat-cell *matCellDef="let element">
          {{ element.status }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="location">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >ห้อง</mat-header-cell
        >
        <mat-cell *matCellDef="let element">
          {{ element.location }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >รายการครุภัณฑ์</mat-header-cell
        >
        <mat-cell *matCellDef="let element">
          {{ element.description | cutDetail }}
        </mat-cell>
      </ng-container>

      @if (isAdmin) {
      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button
            mat-icon-button
            color="warn"
            (click)="onConfirm(element.id, element.code)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
      }

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
    } @else {
    <app-loading-data [form]="'list'"></app-loading-data>
    }

    <mat-paginator
      [pageSizeOptions]="[10, 25, 50, 100]"
      showFirstLastButtons
    ></mat-paginator>
  </mat-card-content>
</mat-card>

<app-sweet-alert
  [icon]="'error'"
  (confirm)="onDelete($event)"
></app-sweet-alert>
