mat-nav-list {
  padding: 0;
}

.link-box {
  display: flex;
  align-items: center;
  gap: 10px;
  transition: 0.3s;
}

a {
  transition: all 0.3s;
}

mat-expansion-panel-header {
  padding: 0 16px;
}

::ng-deep .mat-expansion-panel-body {
  padding: 0 !important;

  a {
    padding-left: 24px;
  }
}
