mat-nav-list {
  padding: 0;
}

.link-box {
  display: flex;
  align-items: center;
  gap: 10px;
  transition: 0.3s;
  padding-block: 10px;
}

a {
  transition: all 0.3s;
}

mat-expansion-panel-header {
  padding: 0 16px;
}

::ng-deep .mat-expansion-panel-body {
  padding: 0 !important;

  a {
    padding-left: 24px;
  }
}

mat-toolbar {
  .toolbar-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    .toolbar-logo {
      border-radius: 50%;

      img {
        width: 40px;
        height: 40px;
      }
    }

    .toolbar-text {
      position: relative;
      display: flex;
      flex-direction: column;

      .line-1 {
        position: absolute;
        top: -25px;
        letter-spacing: 4px;
        font-weight: 800;
      }

      .line-2 {
        position: absolute;
        top: -4px;
        font-size: 0.75rem;
        font-weight: 600;
      }
    }
  }
}

.link-active {
  background-color: #673ab7;

  .link-box {
    color: #fff;
  }
}

.line-2 {
  color: #757575;
}

:host-context(.dark-theme) {
  .link-active {
    background-color: #9c27b0;
  }

  .line-2 {
    color: #c7c7c7;
  }
}
