<mat-toolbar>เมนู</mat-toolbar>
<mat-nav-list>
  <a mat-list-item routerLink="/scan" routerLinkActive="link-active">
    <div class="link-box">
      <mat-icon matListIcon>qr_code</mat-icon>
      <div mat-line>สแกน</div>
    </div>
  </a>

  <a mat-list-item routerLink="/item" routerLinkActive="link-active">
    <div class="link-box">
      <mat-icon matListIcon>wysiwyg</mat-icon>
      <div mat-line>อุปกรณ์</div>
    </div>
  </a>

  <a mat-list-item routerLink="/log" routerLinkActive="link-active">
    <div class="link-box">
      <mat-icon matListIcon>view_timeline</mat-icon>
      <div mat-line>ประวัติ</div>
    </div>
  </a>

  <mat-divider></mat-divider>

  <mat-accordion>
    <mat-expansion-panel
      [class.mat-elevation-z0]="true"
      [expanded]="isExpanded"
    >
      <mat-expansion-panel-header>
        <div class="link-box">
          <mat-icon matListIcon>settings</mat-icon>
          <div mat-line style="font-size: 16px">ตั้งค่า</div>
        </div>
      </mat-expansion-panel-header>

      <mat-nav-list>
        <a
          mat-list-item
          routerLink="/setting/user"
          routerLinkActive="link-active"
        >
          <div class="link-box">
            <mat-icon matListIcon>manage_accounts</mat-icon>
            <div mat-line>บัญชีผู้ใช้งาน</div>
          </div>
        </a>

        <a
          mat-list-item
          routerLink="/setting/category"
          routerLinkActive="link-active"
        >
          <div class="link-box">
            <mat-icon matListIcon>list_alt</mat-icon>
            <div mat-line>ประเภทอุปกรณ์</div>
          </div>
        </a>

        <a
          mat-list-item
          routerLink="/setting/status"
          routerLinkActive="link-active"
        >
          <div class="link-box">
            <mat-icon matListIcon>dataset</mat-icon>
            <div mat-line>สถานะอุปกรณ์</div>
          </div>
        </a>
      </mat-nav-list>
    </mat-expansion-panel>
  </mat-accordion>
</mat-nav-list>
