<mat-toolbar>
  <div class="toolbar-box">
    <div class="toolbar-logo">
      <img src="assets/images/logo-ms-bsru.png" alt="logo" />
    </div>
    <div class="toolbar-text">
      <span class="line-1">BSRU</span>
      <span class="line-2">คณะวิทยาการจัดการ</span>
    </div>
  </div>
</mat-toolbar>
<mat-nav-list>
  <a mat-list-item routerLink="/scan" routerLinkActive="link-active">
    <div class="link-box">
      <mat-icon matListIcon>qr_code_scanner</mat-icon>
      <div mat-line>สแกน</div>
    </div>
  </a>

  <a mat-list-item routerLink="/inventory" routerLinkActive="link-active">
    <div class="link-box">
      <mat-icon matListIcon>list_alt</mat-icon>
      <div mat-line>ครุภัณฑ์</div>
    </div>
  </a>

  <a mat-list-item routerLink="/print" routerLinkActive="link-active">
    <div class="link-box">
      <mat-icon
        matListIcon
        matBadgeSize="medium"
        matBadgeColor="accent"
        [matBadge]="badge"
        [matBadgeHidden]="!isBadge"
        aria-hidden="false"
        >print</mat-icon
      >
      <div mat-line>พิมพ์</div>
    </div>
  </a>

  <a mat-list-item routerLink="/log" routerLinkActive="link-active">
    <div class="link-box">
      <mat-icon matListIcon>history</mat-icon>
      <div mat-line>ประวัติ</div>
    </div>
  </a>

  <a mat-list-item routerLink="/inventory-check" routerLinkActive="link-active">
    <div class="link-box">
      <mat-icon matListIcon>fact_check</mat-icon>
      <div mat-line>ตรวจสอบ</div>
    </div>
  </a>

  <mat-divider></mat-divider>

  @if (isAdmin) {
  <mat-accordion>
    <mat-expansion-panel
      [class.mat-elevation-z0]="true"
      [expanded]="isExpanded"
    >
      <mat-expansion-panel-header>
        <div class="link-box">
          <mat-icon matListIcon>settings</mat-icon>
          <div mat-line style="font-size: 16px">ตั้งค่า</div>
        </div>
      </mat-expansion-panel-header>

      <mat-nav-list>
        <a
          mat-list-item
          routerLink="/setting/user"
          routerLinkActive="link-active"
        >
          <div class="link-box">
            <mat-icon matListIcon>manage_accounts</mat-icon>
            <div mat-line>บัญชีผู้ใช้งาน</div>
          </div>
        </a>

        <a
          mat-list-item
          routerLink="/setting/category"
          routerLinkActive="link-active"
        >
          <div class="link-box">
            <mat-icon matListIcon>list_alt</mat-icon>
            <div mat-line>คุณสมบัติ</div>
          </div>
        </a>

        <a
          mat-list-item
          routerLink="/setting/status"
          routerLinkActive="link-active"
        >
          <div class="link-box">
            <mat-icon matListIcon>dataset</mat-icon>
            <div mat-line>สถานะ</div>
          </div>
        </a>

        <a
          mat-list-item
          routerLink="/setting/usage"
          routerLinkActive="link-active"
        >
          <div class="link-box">
            <mat-icon matListIcon>text_snippet</mat-icon>
            <div mat-line>การใช้งาน</div>
          </div>
        </a>
      </mat-nav-list>
    </mat-expansion-panel>
  </mat-accordion>
  }
</mat-nav-list>
