img {
  width: 100px;
  height: 100px;
}

.printCount-field {
  margin-top: 20px;
  width: 80px;
}

.mat-column-image {
  flex: 0 0 120px;
}

.mat-column-code {
  flex: 0 0 140px;
}

.mat-column-description {
  min-width: 200px;
}

.mat-column-printCount {
  min-width: 200px;
}

.mat-column-action {
  min-width: 60px;
}
