<mat-card class="mat-elevation-z8 mb-20">
  <mat-tab-group dynamicHeight (selectedIndexChange)="onTapChange($event)">
    <mat-tab label="กล้อง">
      <mat-card-content>
        <mat-radio-group [(ngModel)]="isScanType" (change)="onStartCamera()">
          <mat-radio-button [value]="0">QR code</mat-radio-button>
          <mat-radio-button [value]="1">Barcode</mat-radio-button>
        </mat-radio-group>

        <div [ngClass]="{ blur: isScanning }" #qrBox></div>
      </mat-card-content>
    </mat-tab>

    <mat-tab label="ค้นหา">
      <mat-card-content>
        <form
          class="search-box"
          [formGroup]="form"
          (ngSubmit)="onSearchInventory()"
        >
          <div class="search-input-box">
            <input
              type="text"
              class="w-100"
              placeholder="ค้นหารหัสครุภัณฑ์"
              formControlName="search"
              #searchInput
            />

            @if (search.value) {
            <button
              type="button"
              class="close"
              matSuffix
              mat-icon-button
              (click)="clearSearchInput()"
            >
              <mat-icon>close</mat-icon>
            </button>
            }
          </div>
          <button type="submit" matRipple [disabled]="isLoading">ค้นหา</button>
        </form>
      </mat-card-content>
    </mat-tab>
  </mat-tab-group>

  <mat-card-footer>
    @if (isLoading) {
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    }
  </mat-card-footer>
</mat-card>
