@import "../../../../core/theme/color-palette.scss";

img {
  width: 100px;
  height: 100px;
}

:host-context(.dark-theme) {
  .search-box {
    input {
      color: $font-dark-color;
      background-color: #303030;
    }

    button[type="submit"] {
      color: #fff;
      background-color: $base-dark-color;
    }
  }
}

.mat-column-image {
  flex: 0 0 120px;
  padding-block: 8px;
}

.mat-column-code {
  flex: 0 0 140px;
}

.mat-column-description {
  min-width: 200px;
}

.mat-column-action {
  min-width: 60px;
}

.search-box {
  display: flex;
  max-width: 850px;

  input {
    padding: 12px 20px;
    color: $font-light-color;
    background-color: #f1f4f7;
    font-size: 1rem;
    font-weight: 700;
    outline: none;
    border: none;
    border-radius: 1.25rem 0 0 1.25rem;
    box-sizing: border-box;
  }

  button[type="submit"] {
    flex-basis: 120px;

    background-color: $base-light-color;
    font-size: 1rem;
    outline: none;
    border: none;
    border-radius: 0 1.25rem 1.25rem 0;
    box-sizing: border-box;
    cursor: pointer;
  }

  .search-input-box {
    position: relative;
    flex-grow: 1;

    .close {
      position: absolute;
      top: -3px;
      right: -5px;
      color: #6c757d;
    }
  }
}

.stock-field {
  margin-top: 20px;
  width: 80px;
}

/* CSS */
.btn-submit {
  align-items: center;
  appearance: none;
  background-clip: padding-box;
  background-color: initial;
  background-image: none;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  flex-direction: row;
  flex-shrink: 0;
  font-family: Eina01, sans-serif;
  font-size: 16px;
  font-weight: 800;
  justify-content: center;
  line-height: 24px;
  margin: 0;
  min-height: 64px;
  outline: none;
  overflow: visible;
  padding: 19px 26px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: auto;
  word-break: keep-all;
  z-index: 0;
}

@media (min-width: 768px) {
  .button-77 {
    padding: 19px 32px;
  }
}

.btn-submit:before,
.btn-submit:after {
  border-radius: 80px;
}

.btn-submit:before {
  background-color: rgba(249, 58, 19, 0.32);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -2;
}

.btn-submit:after {
  background-color: initial;
  background-image: linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
  bottom: 4px;
  content: "";
  display: block;
  left: 4px;
  overflow: hidden;
  position: absolute;
  right: 4px;
  top: 4px;
  transition: all 100ms ease-out;
  z-index: -1;
}

.btn-submit:hover:not(:disabled):after {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition-timing-function: ease-in;
}

.btn-submit:active:not(:disabled) {
  color: #ccc;
}

.btn-submit:active:not(:disabled):after {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
  bottom: 4px;
  left: 4px;
  right: 4px;
  top: 4px;
}

.btn-submit:disabled {
  cursor: default;
  opacity: 0.24;
}
