@import "../../../../core/theme/color-palette.scss";

img {
  width: 100px;
  height: 100px;
}

:host-context(.dark-theme) {
  .search-box {
    input {
      color: $font-dark-color;
      background-color: #303030;
    }

    button[type="submit"] {
      color: #fff;
      background-color: $base-dark-color;
    }
  }
}

.mat-column-image {
  flex: 0 0 120px;
}

.mat-column-track {
  flex: 0 0 140px;
}

.mat-column-quantity {
  flex: 0 0 70px;
}

.mat-column-stock {
  flex: 0 0 180px;
}

.mat-column-action {
  min-width: 60px;
}

.search-box {
  display: flex;
  max-width: 850px;

  input {
    padding: 12px 20px;
    color: $font-light-color;
    background-color: #f1f4f7;
    font-size: 1rem;
    font-weight: 700;
    outline: none;
    border: none;
    border-radius: 1.25rem 0 0 1.25rem;
    box-sizing: border-box;
  }

  button[type="submit"] {
    flex-basis: 120px;

    background-color: $base-light-color;
    font-size: 1rem;
    outline: none;
    border: none;
    border-radius: 0 1.25rem 1.25rem 0;
    box-sizing: border-box;
    cursor: pointer;
  }

  .search-input-box {
    position: relative;
    flex-grow: 1;

    .close {
      position: absolute;
      top: -3px;
      right: -5px;
      color: #6c757d;
    }
  }
}

.stock-field {
  margin-top: 20px;
  width: 80px;
}
