<div class="login-wrapper">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="dark-theme">
    @if (isLoading) {
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    }

    <img src="assets/images/logo-bsru.png" alt="logo" />
    <h1>ระบบคลังพัสดุ</h1>
    <mat-form-field>
      <mat-label>E-mail</mat-label>
      <input matInput type="email" formControlName="email" />
      <mat-icon matSuffix fontIcon="email"></mat-icon>

      <mat-error>
        <app-error-field
          [control]="email"
          [errorMessage]="validationField.email"
        ></app-error-field>
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>รหัสผ่าน</mat-label>
      <input
        matInput
        [type]="hidePassword ? 'password' : 'text'"
        type="password"
        formControlName="password"
        autocomplete="false"
      />
      <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{
        hidePassword ? "visibility_off" : "visibility"
      }}</mat-icon>

      <mat-error>
        <app-error-field
          [control]="password"
          [errorMessage]="validationField.password"
        ></app-error-field>
      </mat-error>
    </mat-form-field>

    <button type="submit" matRipple [disabled]="isLoading">
      <span class="text">เข้าสู่ระบบ</span>
    </button>

    <div class="forgot-password">
      <a routerLink="./forgot-password">ลืมรหัสผ่าน ?</a>
    </div>
  </form>
</div>
