/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@400;600&display=swap");
@import "./app/core/theme/theme.scss";
@import "ngx-toastr/toastr";
@import "@sweetalert2/theme-dark/dark.scss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", "Prompt", sans-serif;
}

h2 {
  margin-bottom: 0 !important;
}

.dark-theme {
  background-color: #303030;
}

mat-table {
  overflow: auto;
}

.mat-column-no {
  flex: 0 0 50px;
}

.mat-column-image {
  flex: 0 0 120px;
}

.mat-column-track {
  flex: 0 0 140px;
}

.mat-column-receivedDate {
  flex: 0 0 120px;
}

.mat-column-category {
  flex: 0 0 100px;
}

.mat-column-status {
  flex: 0 0 100px;
}

.mat-column-quantity {
  flex: 0 0 70px;
}

.mat-column-detail {
  min-width: 150px;
}

.mat-column-email {
  min-width: 120px;
}

.mat-column-name {
  min-width: 120px;
}

.mat-column-role {
  flex: 0 0 70px;
}

.mat-column-remark {
  min-width: 150px;
}

.mat-column-active {
  flex: 0 0 70px;
}

.mat-column-action {
  flex: 0 0 120px;
  justify-content: center;
}

.form-container {
  .box {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .row {
    display: flex;
    flex-direction: row;
    gap: 10px;

    mat-form-field {
      width: 100%;
    }
  }

  .row-active {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-20 {
  margin-bottom: 20px;
}

.w-100 {
  width: 100%;
}

.toggle-on {
  color: #46a24b;
}

.toggle-off {
  color: #f44336;
}

@media (max-width: 600px) {
  .mat-column-image {
    flex: 0 0 100px;
  }

  .form-container {
    .row {
      flex-direction: column;
      gap: 0;
    }
  }
}

.app-loading {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100dvh;
  min-width: 100dvw;
  height: 100%;
  width: 100%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.6);
}

.app-loading {
  width: 100%;
  height: 100%;
}

.app-loading img {
  width: 120px;
  height: 120px;
}

.app-loading .spinner {
  height: 200px;
  width: 200px;
  animation: rotate 2s linear infinite;
  transform-origin: center center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.app-loading .spinner .path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite, rgb 6s infinite alternate;
  stroke-linecap: round;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}

@keyframes rgb {
  0% {
    stroke: crimson;
  }

  10% {
    stroke: lightsalmon;
  }

  20% {
    stroke: paleturquoise;
  }

  30% {
    stroke: lime;
  }

  40% {
    stroke: teal;
  }

  50% {
    stroke: slateblue;
  }

  60% {
    stroke: royalblue;
  }

  70% {
    stroke: tomato;
  }
  80% {
    stroke: gold;
  }

  90% {
    stroke: violet;
  }

  100% {
    stroke: pink;
  }
}

$h1-text-color: #ea4235;
$normal-text-color: #202020;
$dark-mode-text-color: #fffffc;

.error-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  align-items: center;
  height: 100dvh;
  width: 100dvw;

  img {
    max-width: 300px;
    max-height: 300px;
  }

  h1 {
    font-size: 6rem;
    font-weight: bold;
    letter-spacing: 10px;
    color: $h1-text-color;
    text-shadow: 3px 4px 7px rgba(78, 12, 8, 0.8);
  }

  h3 {
    font-size: 2.5rem;
    font-weight: 500;
    color: $normal-text-color;
  }
}

.blurred-img {
  img {
    animation: blurred 1.2s;
  }
}

@keyframes blurred {
  0% {
    filter: blur(6px);
  }

  50% {
    filter: blur(4px);
  }

  100% {
    filter: blur(0);
  }
}

// .blurred-img::before {
//   content: "";
//   position: absolute;
//   inset: 0;
//   opacity: 0;
//   animation: pulse 2.5s infinite;
//   background-color: #fff;
// }

// @keyframes pulse {
//   0% {
//     opacity: 0;
//   }
//   50% {
//     opacity: 0.1;
//   }
//   100% {
//     opacity: 0;
//   }
// }

.dark-theme {
  .error-box {
    h3 {
      color: #fffffc;
    }
  }
}
