/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@400;600&display=swap");
@import "./app/core/theme/theme.scss";
@import "ngx-toastr/toastr";
@import "@sweetalert2/theme-dark/dark.scss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", "Prompt", sans-serif;
}

h2 {
  margin-bottom: 0 !important;
}

.form-container {
  .box {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .row {
    display: flex;
    flex-direction: row;
    gap: 10px;

    mat-form-field {
      width: 100%;
    }
  }
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-20 {
  margin-bottom: 20px;
}

.w-100 {
  width: 100%;
}

.link-active {
  background-color: #673ab7 !important;

  .link-box {
    color: #fff;
  }
}

.toggle-on {
  color: #46a24b;
}

.toggle-off {
  color: #f44336;
}

.dark-theme {
  .link-active {
    background-color: #9c27b0 !important;
  }

  .bg-color {
    background-color: #303030 !important;
  }
}

.mat-column-no {
  flex: 0 0 70px !important;
}

.mat-column-active {
  flex: 0 0 70px !important;
}

@media (max-width: 600px) {
  .form-container {
    .row {
      flex-direction: column;
      gap: 0;
    }
  }
}
