.mat-column-select {
  flex: 0 0 60px;
}

.mat-column-no {
  flex: 0 0 70px;
}

.mat-column-image {
  flex: 0 0 120px;
  padding-block: 8px;
}

.mat-column-track {
  flex: 0 0 140px;
}

.mat-column-receivedDate {
  flex: 0 0 120px;
}

.mat-column-category {
  flex: 0 0 100px;
}

.mat-column-status {
  flex: 0 0 100px;
}

.mat-column-quantity {
  flex: 0 0 70px;
}

.mat-column-detail {
  min-width: 300px;
}

img {
  width: 100%;
  height: 100%;
}

mat-row:hover {
  background-color: #f5f5f5;
  transition: 0.2s;
}

:host-context(.dark-theme) {
  mat-row:hover {
    background-color: #343434;
  }
}

.filter-box {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .left {
    display: flex;
    gap: 10px;
  }

  .additional-selection {
    opacity: 0.75;
    font-size: 0.75em;
  }
}

@media (max-width: 968px) {
  .filter-box {
    flex-wrap: wrap;

    .left {
      width: 100%;
    }

    mat-form-field {
      width: 100%;
    }
  }
}
